.ver-producto-title{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 1rem;
}

.ver-cliente-comentarios{
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #0000001b;
}
.cont2-cliente h5 span{
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ffd051;
}

.cont-cliente-ver{
    width: 1300px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}

.cont1-cliente{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cont2-cliente{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cont3-cliente{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ver-producto-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 800;
    color: #000;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.estado-estado{
    position: relative;
    top: 10px;
}

.ver-producto-title span{
    font-size: 14px;
    font-weight: 600;

    height: 100%;
    color: #000;
    margin-bottom: 1rem;
    margin-right: 5px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #ffac68;
}
.ver-producto-estado{
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #04ff00;
    background-color: #214affe9;
}


.secion-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-bottom: 1rem;
}

.edit-true{
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #00a2ffca;
    margin-left: 10px;
    position: absolute;
    right: 50px;
    bottom: 15px;
    box-shadow: 0px 0px 5px 0px #0000002c;
}

.items-de-estados{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #698aff9a;
    border-radius: 15px;
    margin-bottom: 25px;

}
.estado-pedido{
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;

}

.loader-cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}