footer {
    position: static;
    bottom: 0;
    background-color: #000000;
    color: #fff;
    padding: 40px 0;
    margin-top: 15px;
    width: 100%;
  }

  .img-footer{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-column {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul li {
    margin-bottom: 10px;
  }

  ul li a {
    color: #fff;
    text-decoration: none;
  }

  .contact-card {
    background-color: #222;
    padding: 20px;
    border-radius: 6px;
  }

  .contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .contact-info i {
    margin-right: 10px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
  }

  .contact-form button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .contact-form button:hover {
    background-color: #ddd;
  }


  .footer-copy{
    background-color: #00000029;
    color: #ffffff;
    bottom: 0;
    width: 100%;
    padding: 2px 0;
    position: relative;
    top: 30px;
    text-align: center;
  }

  .social-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }

  .logo-footer{
    width: 50%;
    height: 50%;
    object-fit: cover;

  }


  @media screen and (max-width: 767px){
    footer{
      padding: 20px 0;
      margin-top: 100px;
    }
    .footer-container{
      flex-direction: column;
    }

    .footer-column{
      width: 100%;
      margin-bottom: 30px;
    }
  }