@media screen and (max-width: 767px) {
    /* Agrega aquí los estilos específicos para dispositivos móviles */
    .navbar{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo-container{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        right: 55px;

    }

    .nav-link{
        font-size: 13px;
        padding: 0px 15px;
        position: relative;
        top: 10px;
    }

    .disable{
        display: none;
    }

    .nav-item::before{
        bottom: -15px
    }

  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Agrega aquí los estilos específicos para computadoras portátiles */
  }