.section-two {
  height: 100%;
  width: 100%;
  display: flex;
  margin-bottom: 100px;

}
.section-two::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.141);
  z-index: -1;
}

.title-section-two {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 10px;
  text-align: center;
}

/* products */

.section-products {
  position: relative;
  width: 75%;
  margin: auto;
  height: 1000px;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 55px;

  padding-bottom: 50px;
  margin-bottom: auto;

}

.container-products {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

.card-product {
  width: 24%;
  height: 455px;
  background: #ffffff;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;

  -webkit-box-shadow: 1px 19px 27px 0px rgba(102, 102, 102, 0.43);
  -moz-box-shadow: 1px 19px 27px 0px rgba(102, 102, 102, 0.43);
  box-shadow: 1px 19px 27px 0px rgba(102, 102, 102, 0.43);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.img-product {
  width: 50%;
  margin: auto;
  height: 190px;
  object-fit: cover;
  min-height: 190px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-body {
  width: 100%;
  height: 100%;
}
.cont-name {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
}
.cont-name h5 {
  margin-bottom: 7px;
}

.card-body-description {
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
  text-align: start;
  justify-content: flex-start;
  width: 99%;
  margin: auto;
}
.img-description-span{
  width: 15px;
  height: 15px;
  object-fit: cover;
  margin-right: 10px;
}
.item-descrpition-span-modal{
  font-weight: 600;
  font-size: 18px;
  color: #00000096;
  margin-top: 10px;
  width: 100%;
}
.cont-description-modal-item{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto
}
.btn-link{
  width: 200px;;
}
.cont-description-span-item{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto
}
.item-descrpition-span{
  font-weight: 600;
  font-size: 12px;
  color: #23232396;
  margin-top: 2px;

}
.cont-price {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 25px;
}
.cont-colors {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin-top: 5px;
}


/* filters */
.section-filters {
  width: auto;
  margin: auto;
  height: 400px;
  margin-top: 75px;
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
}

/* cont productos seleccionados */
.no-selected {
  margin-bottom: 15px;
  margin-top: 15px;
}
.cont-products-selected {
  background-color: #5bbdff3a;
  width: 250px;
  height: 400px;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 55px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.324);
}
.selecteds {
  overflow-y: auto;
  scrollbar-color: transparent;
}

.card-product-select {
  padding: 5px;
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

/* menu expandible */

.menu-expandible {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.324);
  transition: 1.5s;
}

.menu-expandible.active {
  left: 0;
  transition: 0.5s ease-in-out;
  z-index: 100;
}

.btn-cart {
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin: 20px;
  width: 40px;
  height: 40px;
  opacity: 0.8;
}

.img-selected {
  width: 90px;
  height: 90px;
  object-fit: contain;
}
.card-body-selected {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.li-product {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  border-bottom: #00000034 1px dashed;
}
.tag-price {
  margin-bottom: 15px;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
.cont-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.ul-products {
  overflow-y: auto;
  scrollbar-color: transparent;
  width: 100%;
  height: 100%;
}

.cont-title-menu-expandible {
  margin-top: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.btn-close-menu-expandible {
  position: absolute;
  top: 100px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.span {
  width: 100%;
  background-color: #00000035;
  height: 1px;
}
.card-body-description-menu {
  font-size: 12px;
  font-weight: 400;
}
